<body>
	<table id="bmi_checker_inputs">
		<tbody>
			<tr>
				<td>あなたの身長[cm]</td>
				<td><input name="height_input" type="text" /></td>
			</tr>
			<tr>
				<td>あなたの体重[kg]</td>
				<td><input name="weight_input" type="text" /></td>
			</tr>
		</tbody>
	</table>
	<div>
		<input type="button" value="計算する" onclick="DoCalc();" />
	</div>
	<p id="bmi_checker_results__bmi_value" class="has-background has-very-light-gray-background-color">
		あなたのBMIは&nbsp;<span class="bmi_value_span"></span>&nbsp;です。
	</p>
	<p id="bmi_checker_results__summery" class="has-background has-very-light-gray-background-color">
		あなたは<span class="bmi_summery_span"></span>
	</p>
	<p id="bmi_checker_results__normal_weight" class="has-background has-very-light-gray-background-color">
		あなたの身長の標準体重は&nbsp;<span class="bmi_normal_weight_span"></span>kg&nbsp;です。
	</p>
	<p id="bmi_checker_results__your_weight_is_normal_on" class="has-background has-very-light-gray-background-color">
		あなたの現在の体重は、身長&nbsp;<span class="bmi_your_weight_is_normal_on"></span>cm&nbsp;の場合の標準体重です。
	</p>
	<p id="bmi_checker_results__how_to_healthy" class="has-background has-very-light-gray-background-color">
	</p>
	<p id="bmi_checker_results__how_to_unhealthy" class="has-background has-very-light-gray-background-color">
	</p>
	<div id="bmi_checker_reference_table">
		<p>身長&nbsp;<span class="bmi_checker_reference_table__your_height"></span>cm&nbsp;のあなたの場合・・・</p>
		<table>
			<thead>
				<tr>
					<th>BMIの範囲</th>
					<th>体重の範囲</th>
					<th>太っているか、痩せているか</th>
				</tr>
			</thead>
			<tbody>
				<tr class="bmi_table_1">
					<td>BMI&nbsp;&lt;&nbsp;18.5</td>
					<td>～<span class="bmi_table_1_to"></span>kg</td>
					<td>痩せすぎ</td>
				</tr>
				<tr class="bmi_table_2">
					<td>18.5&nbsp;&le;&nbsp;BMI&nbsp;&lt;&nbsp;25</td>
					<td><span class="bmi_table_2_from"></span>kg～<span class="bmi_table_2_to"></span>kg</td>
					<td>普通</td>
				</tr>
				<tr class="bmi_table_3">
					<td>25&nbsp;&le;&nbsp;BMI&nbsp;&lt;&nbsp;30</td>
					<td><span class="bmi_table_3_from"></span>kg～<span class="bmi_table_3_to"></span>kg</td>
					<td>肥満１</td>
				</tr>
				<tr class="bmi_table_4">
					<td>30&nbsp;&le;&nbsp;BMI&nbsp;&lt;&nbsp;35</td>
					<td><span class="bmi_table_4_from"></span>kg～<span class="bmi_table_4_to"></span>kg</td>
					<td>肥満２</td>
				</tr>
				<tr class="bmi_table_5">
					<td>35&nbsp;&le;&nbsp;BMI&nbsp;&lt;&nbsp;40</td>
					<td><span class="bmi_table_5_from"></span>kg～<span class="bmi_table_5_to"></span>kg</td>
					<td>肥満３</td>
				</tr>
				<tr class="bmi_table_6">
					<td>40&nbsp;&le;&nbsp;BMI</td>
					<td><span class="bmi_table_6_from"></span>kg～</td>
					<td>肥満４</td>
				</tr>
			</tbody>
		</table>
	</div>
	<% include '_scripts.html' %>
</body>